@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-rendering: optimizespeed;
    overflow: hidden overlay;
}

/* scrollball css */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 10px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid transparent;
    background-clip: padding-box;
}
html *::-webkit-scrollbar-thumb:hover {
    border: 0;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}
